.u-section-1 .u-sheet-1 {
  min-height: 146px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 33px auto 32px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 276px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 199px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1084px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 662px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 832px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 45px;
  margin-bottom: 7px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 768px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 25px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto 0 5px;
}

.u-section-2 .u-text-2 {
  margin: 20px 5px 0;
}

.u-section-2 .u-btn-1 {
  margin: 30px auto 0 5px;
}

.u-section-2 .u-text-3 {
  margin: 31px 5px 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 5px 0;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 30px auto 0 5px;
}

.u-section-2 .u-text-5 {
  margin: 28px 164px 0 10px;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0 10px;
}

.u-section-2 .u-btn-3 {
  margin: 35px auto 0 5px;
}

.u-section-2 .u-image-1 {
  min-height: 768px;
  background-image: url("images/wtf2-removebg-preview.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 256px;
}

.u-section-2 .u-container-layout-3 {
  padding: 29px 30px;
}

.u-section-2 .u-text-7 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: -32px 115px 0 auto;
}

.u-section-2 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-2 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-4 {
  margin: 30px auto 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 256px;
}

.u-section-2 .u-container-layout-4 {
  padding: 29px 30px;
}

.u-section-2 .u-text-9 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-social-icons-2 {
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: -34px 115px 0 auto;
}

.u-section-2 .u-icon-2 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-2 .u-text-10 {
  margin: 19px 0 0;
}

.u-section-2 .u-btn-5 {
  margin: 30px auto 0 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 256px;
}

.u-section-2 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-2 .u-text-11 {
  margin: 9px auto 0 0;
}

.u-section-2 .u-social-icons-3 {
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: -36px 115px 0 auto;
}

.u-section-2 .u-icon-3 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-2 .u-text-12 {
  margin: 24px 0 0;
}

.u-section-2 .u-btn-6 {
  margin: 30px auto -10px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 736px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 633px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 107px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 633px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 211px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 211px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 211px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1110px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    min-height: 727px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2177px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 1091px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 10px;
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1956px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 687px;
  }
}